.button-transparent {
  background-color: transparent;
  border-radius: 3px;
  padding: 9px 20px;
  font-weight: 500;
  color: var(--black-color);
  line-height: 1.5;
  border: 1px solid var(--accent-color);
  transition: all 0.4s;

  &:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--white-color);
  }
}
