.custom-checkbox {
  &--border-grey {
    .custom-checkbox__span::before {
      border-color: var(--white-color);
    }
  }

  /* создание в label псевдоэлемента before со следующими стилями */
  &__span::before {
    content: '';
    display: inline-block;
    border: 1px solid var(--white-color);
    width: 20px;
    height: 20px;
    background-color: var(--white-color);
    border-radius: 4px;
    transition: all 0.2s;
    cursor: pointer;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  &>input:checked+span::before {
    background-image: url('../img/svg/icon-checkbox.svg');
    background-color: var(--white-color);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* стили при наведении курсора на checkbox */
  &>input:not(:disabled, :checked)+span:hover::before {
    border-color: var(--accent-color);
  }

  /* стили для активного чекбокса (при нажатии на него) */
  &>input:not(:disabled):active+span::before {
    border-color: var(--accent-color);
  }

}
