<section class="application-form-section">
  <div class="container">
    <div class="application-form">
      <div class="application-form__wrapper">
        <div class="application-form__left">
          <h2 class="application-form__title">Оставить заявку на обслуживание</h2>

          <div class="application-form__info">
            <p class="application-form__text">Также вы можете вызвать
              инженера, связавшись с нами</p>

            <ul class="application-form__contacts">
              <li class="application-form__contacts-item">
                <a class="application-form__contacts-link" href="tel:+78005509910">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M6.54 5C6.6 5.89 6.75 6.76 6.99 7.59L5.79 8.79C5.38 7.59 5.12 6.32 5.03 5H6.54ZM16.4 17.02C17.25 17.26 18.12 17.41 19 17.47V18.96C17.68 18.87 16.41 18.61 15.2 18.21L16.4 17.02ZM7.5 3H4C3.45 3 3 3.45 3 4C3 13.39 10.61 21 20 21C20.55 21 21 20.55 21 20V16.51C21 15.96 20.55 15.51 20 15.51C18.76 15.51 17.55 15.31 16.43 14.94C16.331 14.903 16.2256 14.886 16.12 14.89C15.86 14.89 15.61 14.99 15.41 15.18L13.21 17.38C10.3755 15.9303 8.06966 13.6245 6.62 10.79L8.82 8.59C9.1 8.31 9.18 7.92 9.07 7.57C8.69132 6.41789 8.4989 5.21274 8.5 4C8.5 3.45 8.05 3 7.5 3Z"
                      fill="white" />
                  </svg>
                  +7 (800) 550-99-10</a>
              </li>

              <li class="application-form__contacts-item">
                <a class="application-form__contacts-link" href="mailto:support24@swgroup.ru">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4 20C3.45 20 2.97933 19.8043 2.588 19.413C2.19667 19.0217 2.00067 18.5507 2 18V6C2 5.45 2.196 4.97933 2.588 4.588C2.98 4.19667 3.45067 4.00067 4 4H20C20.55 4 21.021 4.196 21.413 4.588C21.805 4.98 22.0007 5.45067 22 6V18C22 18.55 21.8043 19.021 21.413 19.413C21.0217 19.805 20.5507 20.0007 20 20H4ZM12 13L4 8V18H20V8L12 13ZM12 11L20 6H4L12 11ZM4 8V6V18V8Z"
                      fill="white" />
                  </svg>

                  support24@swgroup.ru</a>
              </li>
            </ul>
          </div>
        </div>

        <form class="application-form__form form" id="choose-application-form-section" name="application-form"
          action="#" novalidate="novalidate">
          <div class="form__block">
            <label class="form__label" for="name">
              <span class="form__label-name">Имя</span>
              <input class="form__input input-name" autocomplete="off" type="text" name="name" id="name"
                placeholder="Как к вам обращаться" data-validate-field="name" placeholder="Как к вам обращаться">
            </label>

            <label class="form__label" for="phone">
              <span class="form__label-name">Телефон</span>
              <input class="form__input input-tel" type="tel" name="phone" id="phone" data-validate-field="phone"
                inputmode="text" placeholder="+7 (___)-___-__-__">
            </label>

            <label class="form__label" for="mail">
              <span class="form__label-name">Email</span>
              <input class="form__input input-mail" autocomplete="off" type="email" name="mail" id="mail"
                placeholder="Ваша почта" data-validate-field="mail" placeholder="Введите свою почту">
            </label>
          </div>

          <label class="form__label form__label--textarea" for="textarea">
            <span class="form__label-name">Комментарий</span>
            <textarea class="form__textarea input-textarea" name="textarea" id="textarea" data-validate-field="textarea"
              placeholder="Введите комментарий"></textarea>
          </label>

          <div class="form__approval">
            <button class="form__button">Отправить</button>

            <p class="form__text">Нажимая кнопку «Отправить» вы даете согласие на обработку персональных данных
              и соглашаетесь с <a class="form__text-link" href="#">политикой конфиденциальности</a></p>
          </div>
        </form>

        <div class="application-form__info application-form__info--mobile">
          <p class="application-form__text">Также вы можете вызвать
            инженера, связавшись с нами</p>

          <ul class="application-form__contacts">
            <li class="application-form__contacts-item">
              <a class="application-form__contacts-link" href="tel:+78005509910">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6.54 5C6.6 5.89 6.75 6.76 6.99 7.59L5.79 8.79C5.38 7.59 5.12 6.32 5.03 5H6.54ZM16.4 17.02C17.25 17.26 18.12 17.41 19 17.47V18.96C17.68 18.87 16.41 18.61 15.2 18.21L16.4 17.02ZM7.5 3H4C3.45 3 3 3.45 3 4C3 13.39 10.61 21 20 21C20.55 21 21 20.55 21 20V16.51C21 15.96 20.55 15.51 20 15.51C18.76 15.51 17.55 15.31 16.43 14.94C16.331 14.903 16.2256 14.886 16.12 14.89C15.86 14.89 15.61 14.99 15.41 15.18L13.21 17.38C10.3755 15.9303 8.06966 13.6245 6.62 10.79L8.82 8.59C9.1 8.31 9.18 7.92 9.07 7.57C8.69132 6.41789 8.4989 5.21274 8.5 4C8.5 3.45 8.05 3 7.5 3Z"
                    fill="white" />
                </svg>
                +7 (800) 550-99-10</a>
            </li>

            <li class="application-form__contacts-item">
              <a class="application-form__contacts-link" href="mailto:support24@swgroup.ru">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4 20C3.45 20 2.97933 19.8043 2.588 19.413C2.19667 19.0217 2.00067 18.5507 2 18V6C2 5.45 2.196 4.97933 2.588 4.588C2.98 4.19667 3.45067 4.00067 4 4H20C20.55 4 21.021 4.196 21.413 4.588C21.805 4.98 22.0007 5.45067 22 6V18C22 18.55 21.8043 19.021 21.413 19.413C21.0217 19.805 20.5507 20.0007 20 20H4ZM12 13L4 8V18H20V8L12 13ZM12 11L20 6H4L12 11ZM4 8V6V18V8Z"
                    fill="white" />
                </svg>

                support24@swgroup.ru</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
