<section class="cases">
  <div class="container">

    <h2 class="cases__title section-title">Кейсы</h2>

    <div class="cases__wrapper swiper">
      <ul class="cases__slider swiper-wrapper">
        <li class="cases__item swiper-slide">
          <div class="cases__item-head">
            <h3 class="cases__item-title">Оргтехника в аренду для международного фестиваля университетского спорта
            </h3>
            <img class="cases__item-img" src="img/cases/festival.png" alt="Картинка">
          </div>

          <h4 class="cases__item-subtitle">Цель</h4>
          <p class="cases__item-text">Обеспечение сокращения затрат Заказчика на сервис защищенной печати с
            предоставлением печатной техники в аренду и оплатой за напечатанные страницы.</p>
          <h4 class="cases__item-subtitle">Основные задачи и результаты проекта</h4>
          <ul class="cases__list">
            <li class="cases__list-item">Поставка Программно аппаратного комплекса в составе ПО
              (обеспечение контроля доступа и on line мониторинга оборудования) и аппаратной части
            </li>
            <li class="cases__list-item">Оптимизации инфраструктуры: количество аппаратов сокращено с
              3000 до 570 без потери качества сервиса печати
            </li>
            <li class="cases__list-item">Предоставление в аренду 570 аппаратов в 4 регионах на 10
              площадках (поставка, пуско наладка)
            </li>
            <li class="cases__list-item">Утверждение политик печати, создание системы защищенной и
              распределённой печати, контроль доступа печати
            </li>
            <li class="cases__list-item">Непрерывный мониторинг всего оборудования и бесперебойные поставки расходных
              материалов и ЗИП, требуемых для непрерывной работы оборудования
            </li>
            <li class="cases__list-item">Проведение работ по восстановлению работоспособности оборудования с SLA 98%
            </li>
          </ul>
        </li>

        <li class="cases__item swiper-slide">
          <div class="cases__item-head">
            <h3 class="cases__item-title">Предоставление оргтехники
              и сервисов
              по ее обслуживанию
              для ЧМ по футболу FIFA™ 2018
            </h3>
            <img class="cases__item-img" src="img/cases/fifa.png" alt="Картинка">
          </div>

          <h4 class="cases__item-subtitle">Клиент</h4>
          <p class="cases__item-text">АНО «Оргкомитет «Россия-2018»</p>
          <h4 class="cases__item-subtitle">Цель</h4>
          <p class="cases__item-text">Предоставление оргтехники и необходимого оборудования с техническим
            сопровождением
            на 12 площадках предварительной жеребьевки Чемпионата мира по футболу FIFA™ 2018 для АНО «Оргкомитет
            «Россия-2018» .</p>
          <h4 class="cases__item-subtitle">Основные задачи и результаты проекта</h4>

          <ul class="cases__list">
            <li class="cases__list-item">Поставка, инсталляция оборудования и мониторинг его работоспособности;
            </li>
            <li class="cases__list-item">Обеспечение поддержки сервисных инженеров во время мероприятия;
            </li>
            <li class="cases__list-item">Организация изготовления печатных материалов мероприятия во время его
              проведения в условиях жестких временных и технических ограничений.
            </li>
          </ul>
          <h4 class="cases__item-subtitle">По результатам проекта работы «Супервэйв групп» была отмечена
            благодарственным письмом со стороны АНО «Оргкомитет «Россия-2018».</h4>
        </li>

        <li class="cases__item swiper-slide">
          <div class="cases__item-head">
            <h3 class="cases__item-title">Оказание комплексных услуг
              по защищенной печати
            </h3>
          </div>

          <h4 class="cases__item-subtitle">Клиент</h4>
          <p class="cases__item-text">Федеральная торговая компания</p>
          <h4 class="cases__item-subtitle">Цель</h4>
          <p class="cases__item-text">Предоставление услуги защищенной и распределённой печати для нескольких офисов и
            складов в Москве и Санкт-Петербурге.</p>
          <h4 class="cases__item-subtitle">Основные задачи и результаты проекта</h4>
          <ul class="cases__list">
            <li class="cases__list-item">Поставка, монтаж и пуско-наладка оборудования и программного обеспечения;
            </li>
            <li class="cases__list-item">Создание системы защищенной и распределённой печати;
            </li>
            <li class="cases__list-item">Обеспечение оптимизации затрат на сервис печати;
            </li>
            <li class="cases__list-item">Обеспечение бесперебойной работы системы.
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="cases__slider-controls">
      <div class="cases__progressbar slider-pagination"></div>

      <div class="cases__slider-controls-btns">
        <button class="cases__slider-controls-prev slider-control slider-control--prev" aria-label="Назад">
          <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 10H24M24 10L15.2727 1M24 10L15.2727 19" stroke="#69B42D" stroke-width="2" />
          </svg>
        </button>

        <button class="cases__slider-controls-next slider-control" aria-label="Назад">
          <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 10H24M24 10L15.2727 1M24 10L15.2727 19" stroke="#69B42D" stroke-width="2" />
          </svg>
        </button>
      </div>
    </div>

    <div class="cases__inner">
      <a class="cases__btn button-primary" href="#choose-services__form">Заявка на обслуживание</a>
    </div>
  </div>
</section>