<section class="service-page head-page">
  <div class="container">
    <div class="service-page__breadcrumbs head-page__breadcrumbs breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
        <li class="breadcrumbs__item breadcrumbs__item--active"><span>Сервис</span></li>
      </ul>
    </div>

    <div class="head-page__content">
      <h1 class="head-page__title">Сервисный центр <span class="head-page__title-accent">SUPERWAVE</span></h1>

      <p class="head-page__text">Комплексное обслуживание оргтехники разного формата (МФУ, принтеры и др.) для
        юридических лиц:
        от разовых работ до полного аутсорсинга печати
        в Санкт-Петербурге, Москве и других городах
      </p>

      <button class="head-page__btn button-primary">Заявка на обслуживание</button>
    </div>

  </div>
</section>