<section class="policy-page">
  <div class="container">
    <h1 class="policy-page__title section-title">Политика конфиденциальности</h1>

    <div class="policy-page__text-block text-block">
      <p class="text-block__text">Компания ООО «Супервэйв Групп» обязуется следовать данной Политике и обеспечивать
        защиту личных данных пользователей.
      </p>
    </div>

    <div class="policy-page__text-block text-block">
      <h2 class="text-block__title">Личные данные</h2>
      <p class="text-block__text">К личным данным пользователя сайта относится информация, содержащаяся в обязательных
        для заполнения полях форм, размещенных на сайте, а именно:

      </p>
    </div>

    <ul class="policy-page__text-list text-list">
      <li class="text-list__item">ФИО пользователя;</li>
      <li class="text-list__item">его электронный адрес;</li>
      <li class="text-list__item">название компании;</li>
      <li class="text-list__item">телефон;</li>
      <li class="text-list__item">адрес физический (в случае оформления заказа на физическое лицо);</li>
      <li class="text-list__item">адрес юридический (в случае оформления заказа на юридическое лицо);</li>
      <li class="text-list__item">данные об интересующей продукции.</li>
    </ul>

    <div class="policy-page__text-block text-block">
      <h2 class="text-block__title">Сбор личных данных</h2>
      <p class="text-block__text">Мы информируем посетителей сайта о необходимости предоставления информации, которая
        позволяет установить личность или контактные данные. Такая информация может потребоваться при регистрации на
        сайте и при подписке на рассылку новостей по электронной почте.</p>
      <p class="text-block__text">На сайте компании ООО «Супервэйв Групп» осуществляется сбор статистики посещаемости
        сайта.</p>
      <p class="text-block__text">Статистическая информация может включать в себя:</p>
    </div>

    <ul class="policy-page__text-list text-list">
      <li class="text-list__item">IP-адрес пользователя;</li>
      <li class="text-list__item">тип браузера;</li>
      <li class="text-list__item">количество предыдущих посещений;</li>
      <li class="text-list__item">адрес сайта, с которого пользователь осуществил переход на наш сайт.</li>
    </ul>

    <div class="policy-page__text-block text-block">
      <p class="text-block__text">Данная информация используется для повышения качества предоставляемых услуг, а также
        для подготовки общих статистических данных, характеризующих использование сайта.</p>
    </div>

    <div class="policy-page__text-block text-block">
      <h2 class="text-block__title">Использование личных данных
      </h2>
      <p class="text-block__text">Личные данные пользователей сайта нужны компании «Супервэйв Групп», чтобы:
      </p>
    </div>

    <ul class="policy-page__text-list text-list">
      <li class="text-list__item">регистрировать посетителей на мероприятия компании;</li>
      <li class="text-list__item">оформлять подписку на рассылку информационных писем, и специальных предложений;
      </li>
      <li class="text-list__item">оперативно сообщать об обновлениях в разделах с продуктами и услугами, а также
        информировать о новых данных на сайте по запросу пользователя.
      </li>
    </ul>

    <div class="policy-page__text-block text-block">
      <h2 class="text-block__title">Контроль личных данных</h2>
      <p class="text-block__text">Компания ООО «Супервэйв Групп» гарантирует, что не будет использовать личные данные
        пользователей в иных целях, кроме перечисленных выше. Без согласия клиентов компания не станет передавать эти
        сведения третьим лицам и организациям, за исключением ситуаций, когда этого требует действующее законодательство
        РФ.
      </p>
    </div>

    <div class="policy-page__text-block text-block">
      <h2 class="text-block__title">Доступ к личным данным
      </h2>
      <p class="text-block__text">У посетителей сайта есть возможность проверять корректность личных данных и при
        необходимости обновлять их.</p>
    </div>

    <div class="policy-page__text-block text-block">
      <h2 class="text-block__title">Обеспечение безопасности личных данных
      </h2>
      <p class="text-block__text">ООО «Супервэйв Групп» «Супервэйв Групп» тщательно следит за информационной
        безопасностью пользователей. Мы используем технологии и методы, которые помогают защитить данные от кражи,
        изменения, несанкционированного доступа, незаконного использования и разглашения.</p>
      <p class="text-block__text">Однако в интернете существует угроза безопасности, и ООО «Супервэйв Групп» не может
        гарантировать полную защиту информации, передаваемой по открытым каналам.
      </p>
    </div>

    <div class="policy-page__text-block text-block">
      <h2 class="text-block__title">Использование файлов “cookie”
      </h2>
      <p class="text-block__text">Файлы cookie помогают собирать информацию о том, какие ссылки на сайте чаще всего
        выбирают посетители. Эти данные используются для улучшения работы корпоративного ресурса.
      </p>
      <p class="text-block__text">При этом информация собирается в обобщенном виде и никогда не связывается с личными
        данными пользователей.
      </p>
      <p class="text-block__text">Если пользователь отключит в браузере приём файлов cookie с сайта компании ООО
        «Супервэйв Групп», это не повлияет на его возможность просматривать веб-страницы.
      </p>
    </div>
  </div>
</section>
