<section class="questions">
  <div class="container">
    <h2 class="questions__title section-title">Вопросы-Ответы</h2>

    <ul class="questions__accordion accordion">
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Какие поломки устраняют наши инженеры?
          </span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Наши инженеры устраняют все самые распространенные виды поломок, а также могут помочь устранить неполадки
            инженерных систем формата А0 (плоттеры).</p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Через сколько приедет инженер?
          </span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Как правило, ответственный инженер назначается после согласования условий сотрудничества. Обычно инженер
            выезжает к клиенту на следующий рабочий день.</p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Сколько стоит ремонт?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Зависит от скорости печати аппарата, от его формата (А0,А3,А4) и от цветности (чёрно-белый, цветной).
            Свяжитесь с нами, чтобы узнать свою стоимость ремонта. </p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Сколько стоит техническое обслуживание?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Зависит от скорости печати аппарата, от его фрмата (А0,А3,А4) и от цветности (чёрно-белый, цветной).
            Свяжитесь с нами, чтобы узнать свою стоимость обслуживания. </p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Есть ли гарантия на ремонт и на замененные детали?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Да, гарантия есть.</p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Техническое обслуживание какой техники мы производим?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Мы оказываем услуги по обслуживанию и ремонту почти всех производителей офисной печатной техники - Xerox,
            HP, Kyocera, Epson, Canon, Konica Minolta, Катюша, Pantum, Ricoh, Lexmark. </p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Чем покопийное обслуживание отличается от абонентского?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Абонентское обслуживание это ежемесячный платёж по фиксированной стоимости услуг по обслуживанию печатной
            техники, а покопийное обслуживание - это оплата напечатанных страниц по факту (каждый месяц сумма может
            варьироваться).</p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Как давно работает наш сервисный центр?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Сервисный центр Superwave работает с 1994 года. Многие наши инженеры работают у нас более 10 лет.</p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Работаем ли мы с гос. заказчиками?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Да, мы работаем с государственными заказчиками, по 44 и 223 ФЗ.</p>
        </div>
      </li>
    </ul>
  </div>
</section>