<section class="trust">
  <div class="container">
    <h2 class="trust__title section-title">Нам доверяют</h2>

    <ul class="trust__list">
      <li class="trust__item">
        <img class="trust__image" src="img/partners/pochta.png" alt="Картинка">
      </li>

      <li class="trust__item">
        <img class="trust__image" src="img/partners/rzhd.png" alt="Картинка">
      </li>

      <li class="trust__item">
        <img class="trust__image" src="img/partners/philips.png" alt="Картинка">
      </li>

      <li class="trust__item">
        <img class="trust__image" src="img/partners/univer.png" alt="Картинка">
      </li>

      <li class="trust__item">
        <img class="trust__image" src="img/partners/avia.png" alt="Картинка">
      </li>

      <li class="trust__item">
        <img class="trust__image" src="img/partners/copycenter.png" alt="Картинка">
      </li>
    </ul>
  </div>
</section>
