<section class="we-help">
  <div class="container">
    <h2 class="we-help__title section-title">Чем мы можем помочь?</h2>

    <ul class="we-help__list service-list">
      <li class="service-list__item">
        <a class="service-list__link service-list__link--bg-1" href="#">
          <h4 class="service-list__title">Ремонт оргтехники</h4>
          <img class="service-list__image" src="img/we-help/1.png" alt="Картинка">
          <button class="service-list__btn button-primary">Подробнее</button>
        </a>
      </li>

      <li class="service-list__item">
        <a class="service-list__link service-list__link--bg-2" href="#">
          <h4 class="service-list__title">Тех.обслуживание оргтехники</h4>
          <img class="service-list__image" src="img/we-help/2.png" alt="Картинка">
          <button class="service-list__btn button-primary">Подробнее</button>
        </a>
      </li>

      <li class="service-list__item">
        <a class="service-list__link service-list__link--bg-3" href="#">
          <h4 class="service-list__title">Покопийное обслуживание</h4>
          <img class="service-list__image" src="img/we-help/3.png" alt="Картинка">
          <button class="service-list__btn button-primary">Подробнее</button>
        </a>
      </li>
    </ul>
  </div>
</section>
