<section class="why-are-we">
  <div class="container">
    <h2 class="why-are-we__title section-title">Почему мы?</h2>

    <ul class="why-are-we__list">
      <li class="why-are-we__item">
        <img class="why-are-we__image" src="img/why-are-we/1.png" alt="Картинка">
        <p class="why-are-we__text">Гарантия на произведенные работы <span
            class="why-are-we__text why-are-we__text--green">от 45 дней</span></p>
      </li>

      <li class="why-are-we__item">
        <img class="why-are-we__image" src="img/why-are-we/2.png" alt="Картинка">
        <p class="why-are-we__text"><span class="why-are-we__text why-are-we__text--green">Сертифицированные</span>
          сервисные инженеры
        </p>
      </li>

      <li class="why-are-we__item">
        <img class="why-are-we__image" src="img/why-are-we/3.png" alt="Картинка">
        <p class="why-are-we__text">Минимальное время выезда инженера <span
            class="why-are-we__text why-are-we__text--green">от 4 часов</span></p>
      </li>
    </ul>
  </div>
</section>