.equipment {
  padding-bottom: 80px;

  @media screen and (width <=768px) {
    padding-bottom: 60px;
  }

  &__head {
    border-top: 1px solid rgba(168, 184, 199, 0.3);
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media screen and (width <=768px) {
      padding-top: 60px;
    }
  }

  &__title {
    text-align: start;
  }

  &__link {
    @media screen and (width <=768px) {
      &.button-primary {
        display: none;
      }
    }
  }

  &__tabs {
    background-color: var(--bg-color);
    border-radius: 16px;
    padding: 24px;

    @media screen and (width <=768px) {
      margin-bottom: 32px;
      padding: 16px;
    }

    .tabs__head {
      @media screen and (width <=990px) {
        display: none;
      }
    }
  }

  &__link-mobile {
    &.button-primary {
      display: none;
    }

    @media screen and (width <=768px) {
      &.button-primary {
        display: block;
        text-align: center;
      }
    }
  }


  &__wrapper {
    display: flex;
    column-gap: 24px;

    @media screen and (width <=990px) {
      flex-direction: column;
    }
  }

  &__img {
    max-width: 560px;
    height: 318px;
    width: 100%;
    border-radius: 8px;

    @media screen and (width <=990px) {
      max-width: 100%;
    }
  }

  &__img-mobile {
    display: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;

    @media screen and (width <=990px) {
      display: block;
    }
  }

  &__content {
    max-width: 482px;
    display: flex;
    flex-direction: column;

    @media screen and (width <=990px) {
      max-width: 100%;
    }
  }

  &__content-name {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 24px;

    @media screen and (width <=990px) {
      display: none;
    }

    @media screen and (width <=768px) {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 16px;
    }
  }

  &__content-name-mobile {
    display: none;

    @media screen and (width <=990px) {
      display: block;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 16px;
    }
  }

  &__content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;

    @media screen and (width <=768px) {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }

  &__content-bot {
    margin-top: auto;
  }

  &__content-descr {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 16px;
  }

  &__qty {
    font-weight: 700;
    color: var(--accent-color);
    line-height: 1.2;
  }

  &__num {
    font-size: 64px;

    @media screen and (width <=768px) {
      font-size: 48px;
    }
  }

  &__qty-word {
    font-size: 48px;

    @media screen and (width <=768px) {
      font-size: 36px;
    }
  }

  &__select {
    max-width: 350px;
    margin-bottom: 24px;
    display: none;

    @media screen and (width <=990px) {
      display: block;
    }
  }

  &__slider {
    z-index: 3;
    max-width: 560px;
    margin: 0;
    height: fit-content;
    position: relative;
    border-radius: 8px;

    @media screen and (width <=990px) {
      max-width: 100%;
      margin-bottom: 16px;
    }
  }

  &__slider-controls-prev,
  &__slider-controls-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
  }

  &__slider-controls-prev {
    left: 16px;
  }

  &__slider-controls-next {
    right: 16px;
  }

  &__video {
    max-width: 560px;
    width: 100%;
    height: 318px;

    @media screen and (width <=990px) {
      max-width: 100%;
    }
  }
}