.vk-block {
  border-radius: 16px;
  background-color: var(--blue-color);
  background-image: url("../img/vk-block/lines.png");
  background-position: right;
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__vk {
    margin-right: 310px;

    @media screen and (width <=1090px) {
      display: none;
    }
  }

  &__content {
    padding: 24px;

    @media screen and (width <=768px) {
      width: 100%;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    color: var(--white-color);
    margin-bottom: 24px;

    @media screen and (width <=768px) {
      margin-bottom: 64px;
      font-size: 20px;
    }
  }

  &__link {
    display: block;
    border-radius: 20px;
    background-color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.47;
    text-align: center;
    color: var(--blue-color);
    width: 256px;
    padding: 13px 24px;
    transition: background-color 0.3s;

    @media screen and (width < 768px) {
      margin: 0 auto;
    }

    @media screen and (width < 480px) {
      width: 100%;
    }

    &:hover {
      background-color: #d0e6ff;
    }
  }
}