.why-we {
  padding: 120px 0 80px;

  @media screen and (width <=768px) {
    padding: 60px 0;
  }

  &__title {
    text-align: start;
    margin-bottom: 40px;

    @media screen and (width <=768px) {
      margin-bottom: 32px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 40px;

    @media screen and (width <=768px) {
      margin-bottom: 32px;
      font-size: 16px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 24px;

    @media screen and (width <=768px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 32px;
    }
  }

  &__item-img {
    margin-bottom: 16px;

    @media screen and (width <=768px) {
      width: 60px;
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;

    @media screen and (width <=768px) {
      margin-bottom: 8px;
      font-size: 18px;
    }
  }

  &__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;

  }
}
